.row{
  margin-bottom: -1px;
  height: 34px;
}

.square{
  background: none;
  height: 34px;
  width: 34px;
  border: 1px solid black;
  font-size: 24px;
  margin-left: -1px;
  padding: 0;
  content: '';
}