* {
  list-style: none;
  margin: 1px 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  height: 90px;
  width: 95%;
  margin: 0px auto;
  /* border: 1px solid black; */
  display: fixed;
}

.header span{
  margin : 5px 5px;
}

.main {
  width: minmax(1200px, 98%);
  height: auto;
  margin: 0px auto;
  /* border: 1px solid red; */
  overflow-x : hidden;
  overflow-y : hidden;
}

.footer {
  height: 100px;
  width: 95%;
  margin: 0px auto;
  /* border: 1px solid black; */
}