.list {
  height: 100%;
}

.list-head {
  height: 200px;
  margin : 5px 10px;
}

.list-head h1 {
  height: 40px;
}

.list-head-intro {
  margin: 5px;
  padding: 5px;
}

.tagBtn{
  background-color: white;
  border: 0px solid;
  border-radius: 4px;
  padding: 2px 5px;
  margin: 0 5px;
}

.tagBtn:hover{
  background-color: cornflowerblue;
  color: white;
}

.Focused{
  color: rgb(235, 152, 0);
  border: 1px solid;
}

.list-content {
  height: 600px;
  display: grid;
  grid-template-columns: minmax(600px, 50%) 50%;
}

.list-contentList {
  background-color: antiquewhite;
}

.list-contentList-ul {
  height: 600px;
  margin: 0;
  padding: 0 10px;
  overflow-y: auto;
}

.list-contentList-ul::-webkit-scrollbar {
  display: none;
}

.list-contentList-paging {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  
}

.list-contentList-paging a{
  color: black;
}
.list-contentList-paging .currentPage{
  font-weight: bold;
}
/* .list-contentList-paging a:focus{
  font-weight: bold;
} */

.currentPage{
  height: 20px;
  text-align: center;
}

.list-itemGrid {
  display: grid;
  grid-template-columns: minmax(195px, 30%) 70%;

}

.list-itemGrid-img {
  margin-top: 5px;
  width: 190px;
  height: auto;
}

.list-itemGrid-img img {
  width: 190px;
  height: 120px;
}

.list-itemGrid-content {
  text-align: left;
}
