.list {
  height: 100%;

  &-head {
    height: 200px;
    margin: 5px 10px;

    h1 {
      height: 40px;
    }

    &-intro {
      margin: 5px;
      padding: 5px;
    }
  }

  .tagBtn {
    background-color: white;
    border: 0px solid;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 0 5px;

    &:hover {
      background-color: cornflowerblue;
      color: white;
    }
  }

  .Focused {
    color: rgb(235, 152, 0);
    border: 1px solid;
  }

  &-content {
    height: 600px;
    display: grid;
    grid-template-columns: minmax(600px, 50%) 50%;

    &List {
      background-color: antiquewhite;

      &-ul {
        height: 600px;
        margin: 0;
        padding: 0 10px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &-paging {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-around;

        a {
          color: black;

          &.currentPage {
            font-weight: bold;
          }
        }
      }
    }
  }

  &-itemGrid {
    display: grid;
    grid-template-columns: minmax(195px, 30%) 70%;

    &-img {
      margin-top: 5px;
      width: 190px;
      height: auto;

      img {
        width: 190px;
        height: 120px;
      }
    }

    &-content {
      text-align: left;
    }
  }
}

.grid {
  height: 100%;
  &-head {
    height: 200px;
    margin: 5px 10px;

    h1 {
      height: 40px;
    }

    &-intro {
      margin: 5px;
      padding: 5px;
    }
  }

  .tagBtn {
    background-color: white;
    border: 0px solid;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 0 5px;

    &:hover {
      background-color: cornflowerblue;
      color: white;
    }
  }

  .Focused {
    color: rgb(235, 152, 0);
    border: 1px solid;
  }

  &-content {
    height: 600px;
    display: grid;
    grid-template-columns: minmax(600px, 50%) 50%;

    &List {
      background-color: rgb(130, 130, 243);

      &-ul {
        height: 600px;
        margin: 0;
        padding: 0 10px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &-paging {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-around;

        a {
          color: black;

          &.currentPage {
            font-weight: bold;
          }
        }
      }
    }
  }

  &-itemGrid {
    display: grid;
    grid-template-columns: minmax(195px, 30%) 70%;

    &-img {
      margin-top: 5px;
      width: 190px;
      height: auto;

      img {
        width: 190px;
        height: 120px;
      }
    }

    &-content {
      text-align: left;
    }
  }
}